<div class="upload-container">
  <h1 class="h1_lore">Lade dein Meisterwerk hoch!</h1>
  <form
    action="/create_post"
    class="form_upload"
    enctype="multipart/form-data"
    method="post"
  >
    <input type="text" name="title" placeholder="Titel" /><br />
    <input type="text" name="text" placeholder="Beschreibung" /><br />
    <input type="file" name="image" /><br />
    <input type="submit" name="Upload" value="Upload" />
  </form>
</div>